<section class="creat-task-container">
  <button mat-fab extended (click)="closeDialog()">
    <mat-icon fontIcon="close"></mat-icon>
  </button>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="description">Descrição</label>
    <input type="textarea" class="input" id="description" formControlName="description">
    @if (form.get('description')?.errors &&  form.get('description')?.touched) {
      <div class="mensagem_erro">
        Descrição é obrigatório!
      </div>
    }

    <label for="dueDate">Previsão</label>
    <input type="textarea" class="input" id="dueDate" formControlName="dueDate">
    @if(form.get('dueDate')?.errors &&  form.get('dueDate')?.touched){
      <div class="mensagem_erro">
        Formato inválido! Formato correto: DD/MM/AAAA
      </div>
    }

    <label for="status">Status</label>
    <input type="textarea" class="input" id="status" formControlName="status">
    @if(form.get('status')?.errors &&  form.get('status')?.touched) {
      <div class="mensagem_erro">
        Status é obrigatório!
      </div>
    }

    <button type="submit" [disabled]="form.invalid">SALVAR</button>
  </form>
</section>
