<button (click)="openDialog()" class="add-task">ADICIONAR</button>


<table mat-table [dataSource]="taskList">
  <ng-container matColumnDef="checked">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <input type="checkbox"
        [(ngModel)]="element.isChecked"
      >
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>TÍTULO</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>STATUS</th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="dueDate">
    <th mat-header-cell *matHeaderCellDef>PREVISÃO</th>
    <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deleteTask(element.id)" class="button-delete">
        <mat-icon>delete</mat-icon>
      </button>
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{'highlight-row': row.isChecked}"
  ></tr>

</table>
