<section>
  <button (click)="openDialog()">ADICIONAR</button>
  <table>
    <tr>
      <th></th>
      <th>TÍTULO</th>
      <th>PREVISÃO</th>
      <th>STATUS</th>
    </tr>
    @for (item of taskList; track item.id) {
      <tr>
        <td><input
          type="checkbox"
          name="select-row-{{item.id}}"
          id="select-row-{{item.id}}"
        ></td>
        <td>{{item.description}}</td>
        <td>{{item.dueDate}}</td>
        <td>{{item.status}}</td>
        <td>
          <button class="button-delete" (click)="deleteTask(item.id)">
            <img src="delete-icon.png" alt="deletar linha.">
          </button>
        </td>
      </tr>
    } @empty {
      <h3>Nenhum tarefa registrada.</h3>
    }
  </table>
</section>
